services:
  - type: web
    name: fastapi-web-service
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -w 4 -k uvicorn.workers.UvicornWorker backend.fastapi_app:app
    healthCheckPath: /
    plan: starter
    region: oregon
    workingDirectory: backend # Specifies the working directory to be 'backend'
